/*forum page basic styling -website guide*/
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.forum-section {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  
  @media (min-width: 768px) {
    .forum-section {
      flex-direction: row;
      padding: 3rem;
    }
  }
  
  .forum-text {
    display: grid;
    gap: 1.5rem;
    max-width: 36rem;
  }
  
  .forum-text p {
    color: var(--color-emerald-200);
    font-family: var(--font-serif);
  }
  
  .forum-visual {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  @media (min-width: 768px) {
    .forum-visual {
      display: flex;
    }
  }
  

  /*intro-section*/

  .intro-section-forum-page {
    height: 40vw;
    width: 100%;
    background-image: url('../assets/images/banner-forum.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .btn-create-topic {
    padding: 20px 22px; 
    border-radius : 35px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin : 40px 70px; 
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid white; 
    background: linear-gradient(45deg,  #fbbf24, #fde68a);
    color: #0a4d33e0;
    cursor: pointer;
  }

  @media (max-width: 480px) {
    .btn-create-topic {
      padding: 12px 16px;
      font-size: 0.9rem;
      margin: 30px 20px;
    }
  
    .search-bar-forum-page {
      width: 80%;
      padding: 12px 15px;
      font-size: 0.9rem;
    }
  
  }

  @media (max-width: 768px) {
    .btn-create-topic {
        padding: 15px 18px;
        font-size: 1rem;
        margin: 40px 50px;
        border-radius: 30px;
    }

    .search-bar-forum-page {
      width: 41%;
      padding: 15px 20px;
    }
}

  @media (min-width: 1200px) {
    .btn-create-topic {
        padding: 25px 30px;
        font-size: 1.5rem;
        margin-top: 90px;
        margin-left: 170px;
        border-radius: 40px;
    }
}

  /*search-forum-section*/
  .search-forum-section {
width: 100%;
height:70px;
background-color:#0a4d33e0;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
display: flex;
align-items:center;
justify-content: flex-start;
font-family: "Montserrat", sans-serif;
  }

  .search-bar-forum-page {
    width: 60vw;
    padding: 17px 22px;
    border-radius: 5px; 
    border: 1px solid lightgrey;
    margin : 5px 50px; 
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .forum-search-quantity {
    background-color: #047a45c2;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  input::placeholder {
    color: rgb(196, 194, 194);
  }
  
  /*cards*/
  .topic-card { 
   position:relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-height: 450px;
    max-width: 600px;
    min-width: 400px;
    min-height: 300px;
    background-color:white;
    margin-top: 30px;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .forum-topic-title {
    font-size: 1.4rem;
    padding: 5px;
    color: #0a4d33f3;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .forum-card-image {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    border-bottom:1px solid #0a4d33f3;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .forum-card-description {
    font-size: 1rem;
    color: #0a4d33f3;
    margin-left: 15px;
    padding-bottom: 40px;
  }

  .topic-link {
    text-decoration: none;
  }

  .delete-topic-button {
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1rem;
    background-color: transparent;
    position: absolute;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    border: none;
  }

  .delete-topic-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }

  .follow-btn {
    background-color: white; 
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer; 
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: 10px;
    top: 260px;
  }

  .author-info-main-page {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    padding: 10px 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    background-color: trasparent;
    backdrop-filter: blur(10px);
  }

  .author-avatar-main-page {
    width: 45px;
    height: 40px;
    border-radius: 50%;
    margin-right: 6px;
  }

  #forum-timestamp-container {
    color: rgb(196, 196, 196);
    font-size: 14px;
  }