* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll */
}
.plant-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height:100vh;
    /* box-shadow: 0 4px 12px rgba(255, 252, 252, 0.477); */
    background-color: #062b0763;
}

.plants-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1000px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    /* box-shadow: 0 0px 12px rgba(255, 252, 252, 0.789); */
    background-color: #0a4d33;
    border: 1px solid rgba(5, 150, 105, 0.5);
    backdrop-filter: blur(6px);
    padding: 1.5rem;
  }
    
  .plants-card h2{
    padding-bottom: 10px;
    color: #fef9c3;
    text-align: center
  }
  
  .plant-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    border: 1px solid #062b0763;
  }
  
  .plant-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
  .plant-info h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .plant-info p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  @media (max-width: 1024px) {
    .plant-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        min-height: auto;
        box-shadow: 0 4px 12px rgba(255, 252, 252, 0.477);
        background-color: #f8fff963;
    }
  
    .plants-card {
      padding: 1rem;
      gap: 1.5rem;
    }
  
    .plant-image {
      height: 250px;
    }
  
    .plant-info h3 {
      font-size: 1.3rem;
    }
  
    .plant-info p {
      font-size: 0.95rem;
    }
  }
  
  @media (max-width: 768px) {
    .plant-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        min-height: auto;
        /* box-shadow: 0 4px 12px rgba(255, 252, 252, 0.477); */
        background-color: #062b0763;
    }
    .plants-card {
      padding: 1rem;
      border-radius: 0.75rem;
      gap: 1rem;
    }
  
    .plant-image {
      height: 220px;
      border-radius: 6px;
    }
  
    .plant-info {
      padding: 1rem;
      gap: 0.75rem;
    }
  
    .plant-info h3 {
      font-size: 1.2rem;
      text-align: center;
    }
  
    .plant-info p {
      font-size: 0.9rem;
      text-align: justify;
    }
  }
  
  @media (max-width: 480px) {
    .plant-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        min-height: auto;
        /* box-shadow: 0 4px 12px rgba(255, 252, 252, 0.477); */
        background-color: #062b0763;
    }
    .plant-image {
      height: 180px;
    }
  
    .plants-card h2 {
      font-size: 1.3rem;
    }
  
    .plant-info h3 {
      font-size: 1.1rem;
    }
  
    .plant-info p {
      font-size: 0.85rem;
    }
  }
  