.signup-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.video-section {
  width: 35%;
  height: 100%;
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.6;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.4);
}

.signin-page {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  z-index: 1;
  background-color: #052e1fc7;
}

.signin-page h3 {
  margin: 0px 0 40px 0;
  font-size: 28px;
  color: #ccc;
}

.form-login-page {
  background-color: #052e1fd7;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.085);
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 9px #ccc;
  width: 100%;
  max-width: 500px;
  height: 380px;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: center;
  gap: 10px;
  margin-top: -30px;
}

.form-login-page label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  color: white;
}

.form-login-page input[type="email"],
.form-login-page input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #555;
  background-color: #7e7d7d46;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 6px;
  transition: border-color 0.3s;
}

.form-login-page input:focus {
  border-color: #5d5d5d;
  outline: none;
}

.form-login-page button {
  width: 100%;
  padding: 12px;
  background-color: #7e7d7d46;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.form-login-page button:hover {
  background-color: #3f3f3f;
}

.error {
  color: #ffdf6b;
  margin-top: 15px;
  font-weight: 500;
}

.signup-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #ccc;
}

.signup-link:hover {
  text-decoration: underline;
  color: #a0a0a0;
}

.signup-link button {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  color: white;
  border: 1px solid #666;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, border-color 0.3s;
}

.signup-link button:hover {
  background-color: #444;
  border-color: #aaa;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .video-section {
    display: none;
  }

  .login-container {
    flex-direction: column;
  }

  .signin-page {
    width: 100%;
    padding: 20px;
    height: auto;
  }
  .signin-page h3 {
    margin-top: 15px;
  }
}
